<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.inkenka.devdemos">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 使用SYSTEM_ALERT_WINDOW时必须要加 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MultiItemList.ListViewDemoActivity"/>
        <activity android:name=".SingleImageView.SingleImageDemoActivity"/>
        <activity android:name=".videoview.VideoViewDemoActivity"/>
        <activity android:name=".FloatView.FloatViewDemoActivity"/>
        <activity android:name=".ViewAnim.ViewAnimDemoActivity"/>
        <activity android:name=".recycleview.RecycleViewDemoActivity"/>
        <activity android:name=".recycleview.SingleListRecycleViewActivity"/>
        <activity android:name=".recycleview.GridRecycleViewActivity"/>
        <activity android:name=".recycleview.AnomalyGridRecycleViewActivity"/>
        <activity android:name=".recycleview.AnimRecycleViewActivity"/>
        <activity android:name=".recycleview.WaterfallRecycleViewActivity"/>
        <activity android:name=".recycleview.multitype.MultitypeRecycleViewActivity"/>
        <activity android:name=".recycleview.RefreshRecycleViewActivity"/>
    </application>

</manifest>