<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.inkenka.devdemos">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 使用SYSTEM_ALERT_WINDOW时必须要加 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MultiItemList.ListViewDemoActivity"/>
        <activity android:name=".SingleImageView.SingleImageDemoActivity"/>
        <activity android:name=".videoview.VideoViewDemoActivity"/>
        <activity android:name=".FloatView.FloatViewDemoActivity"/>
        <activity android:name=".ViewAnim.ViewAnimDemoActivity"/>
        <activity android:name=".recycleview.RecycleViewDemoActivity"/>
        <activity android:name=".recycleview.SingleListRecycleViewActivity"/>
        <activity android:name=".recycleview.GridRecycleViewActivity"/>
        <activity android:name=".recycleview.AnomalyGridRecycleViewActivity"/>
        <activity android:name=".recycleview.AnimRecycleViewActivity"/>
        <activity android:name=".recycleview.WaterfallRecycleViewActivity"/>
        <activity android:name=".recycleview.multitype.MultitypeRecycleViewActivity"/>
        <activity android:name=".recycleview.RefreshRecycleViewActivity"/>
        <activity android:name=".ActivityStack.FirstActivity"/>
        <activity
            android:name=".ActivityStack.SecondActivity"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".ActivityStack.ThirdActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".ThirdActivityTask"
            />
        <activity android:name=".ThrowException.ThrowExceptionActivity"/>
        <activity android:name=".MemoryAnalysis.MemoryAnalysisActivity"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService1"
            android:process=":memory1"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService2"
            android:process=":memory2"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService3"
            android:process=":memory3"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService4"
            android:process=":memory4"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService5"
            android:process=":memory5"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService6"
            android:process=":memory6"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService7"
            android:process=":memory7"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService8"
            android:process=":memory8"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService9"
            android:process=":memory9"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService10"
            android:process=":memory10"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService11"
            android:process=":memory11"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService12"
            android:process=":memory12"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService13"
            android:process=":memory13"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService14"
            android:process=":memory14"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService15"
            android:process=":memory15"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService16"
            android:process=":memory16"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService17"
            android:process=":memory17"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService18"
            android:process=":memory18"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService19"
            android:process=":memory19"/>
        <service
            android:name=".MemoryAnalysis.BigMemoryService20"
            android:process=":memory20"/>
        <activity android:name=".ProcessWhiteList.ProcessWhiteListActivity"/>
        <activity android:name=".SpannableString.SpannableStringActivity"/>
        <activity android:name=".processbar.ProgressBarActivity"/>
    </application>

</manifest>